  <div class="box">
    <input type="file" id="file-input">
  </div>

  <div class="box-2">
    <div class="result"></div>
  </div>


  <div class="box-2 img-result hide">
    <img class="cropped" src="" alt="">
  </div>

  <div class="box">
    <div class="options hide">
      <label>Width</label>
      <input type="number" class="img-w" value="300" min="100" max="1200" />
    </div>
    <button class="btn save hide">Save</button>
    <a href="" class="btn download hide">Download</a>
  </div>

